@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
}

.background {
    @apply bg-[#8080804d] backdrop-blur-lg rounded-[20px];
}

.text-mini {
    @apply text-[12px] font-third font-light italic;
}

.text-body {
    @apply text-[18px] font-third font-light leading-[25px];
}

.text-title {
    @apply text-[25px] font-primary font-extrabold leading-[35px] uppercase;
}

.cd {
    -webkit-mask-image: radial-gradient(circle 65px at right, transparent 0, transparent 32px, black 21px);
}